/*
COLOR SCHEME

COLOR1: #93B7BE LIGHT BLUISH

cOLOR2: #D5C7BC TAN

COLOR3: #6D4754 BURGUNDY

COLOR4 #454545 BROWN GREEN
*/

body{
  font-size: 1em;
  font-weight normal;
  font-family: Arial, sans-serif;

  color:#000000; /*black*/
  background-color:#D88FD1;
  width: 70%;
  margin: 0 auto;
}

h1 {
  font-size:1.8em;
  font-weight:bold;
  color:#0000ff;/*blue*/
  text-align: center;
}
p{
  padding: 20px;
  border:3px dashed #5E5E5E;
  background-color: #C4C4C4;

}

h1, h2, h3 {
  color: #6D4754;
}
