body{
  font-size 1em;
  font-weight normal;
  font-family: Arial, sans-serif;

  color:#000000;/*black*/
  text-aligin:left;
  background-color:#FFA8EF;
}

h1 {
  font-size:1.8em;
  font-weight:bold;
  color:#0000ff;/*blue*/
  text-align: center;
}
p{
height:100px;
width: auto;
border:1.2em solid #5E5E5E;
  background-color: #AFAFAF;

}
