/* Place this at the very top of your typographystyles.css document */

@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');

/*** KERNING & LEADING ASSIGNMENT STYLES ***/

/* Do not change this style */
.rectangle {
  font-family: "Helvetica";
  font-size: 1em;
  background-color: white;
  border: solid 1px black;
  height: 300px;
  width: 800px;
  margin: 0 auto;
}

div p {
  border: none;
  background-color: white;
}

#kerning {
  /* Use the letter-spacing property to change the kerning on the text to fill the div below

  http://www.w3schools.com/cssref/pr_text_letter-spacing.asp
  */
  letter-spacing:6px;
}

#leading {
  /* Use the line-height property to change the leading on the text to fill the div below

  http://www.w3schools.com/cssref/pr_dim_line-height.asp
  */
  line-height:280%;
}
/*** TEXT ALIGNMENT ASSIGNMENT STYLES ***/

/* Do not change this style */
.align {
  max-width: 80%;
  margin: 1em auto;
}

#leftalign {
  /* Use the text-align property to left-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
   text-align: left;
}
#rightalign {
  /* Use the text-align property to right-align the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
   text-align:right;
 }


#justify {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
text-align:justify;
}
#center {
  /* Use the text-align property to justify the text
   http://www.w3schools.com/cssref/pr_text_text-align.asp */
text-align:center;
}
/*** TEXT ALIGNMENT ASSIGNMENT STYLES ***/

/* Do not change this style */
.align {
  max-width: 80%;
  margin: 1em auto;
}

/* Place these styles towards the bottom of your typographystyles.css document */

.weights {
  font-family: "Roboto";
  font-size: 32px;
}

#weight1 {
  /* Change the font-weight property to give it a thin-weight */
  font-weight: 100;
}


#weight2 {
  /* Change the font-weight property to give it a light-weight */
  font-weight: 300;
}

#weight3 {
  /* Change the font-weight property to give it a regular-weight */
  font-weight: 400;
}

#weight4 {
  /* Change the font-weight property to give it a bold-weight */
  font-weight: 600;
}

#weight5 {
  /* Change the font-weight property to give it a ultra-bold-weight */
  font-weight: 900;
}
